body{
    margin: 0;
    padding: 0;
}


.box{
    height: 300px;
    width: 200px;
    border: 1px solid green;
    transform: skewX(4deg);
    background-color: hotpink;
    transform: translate(50px ,100px);
    transform: scale(2);
   
}
.box:hover{
    transform: scale(3);

transition: transform 5s;
}
.box1{
    height: 300px;
    width: 200px;
    border: 1px solid green;
    transform: rotate(80deg);
    background-color: hotpink;
    margin-left: 300px;
    margin-top: 200px;
    transform: translateX(50deg);
}