.sufyan1{
    width: var(--main-widht);
    border: 5px solid black;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}
.p1{
    width: 100%;
    height: auto;
}
.sufyan2{
    background-color: black;
    color: ghostwhite;
    background-color: var(--main-background);
    position: absolute;
    left: -0%;
    top: -100%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.sufyan2 p{
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 20px auto;
    text-align:center ;
    font-size: var(--main-font);
}
.sufyan1:hover .sufyan2{
    transition-duration: 5S;
    top: 0%;
}
.sufyan1:hover .sufyan2 p{
    color: rgb(188, 100,0);
    font-style: italic;
    font-size: var(--main-font);
    font-family: cursive;
}

:root{
    --main-font:50px;
}
:root{
    --main-background:skyblue;
}
:root{
    --main-widht:600px;
}
@media screen and (max-width: 480px) {
    body {
      background-color: honeydew;
    }
  }
  

