body{
    margin: 0;
}

.box1{
    width: 50%;
    background-color:#ffff;
    height: 200px;
    float: left;
}
.box1 p{
    font-size: 30px;
color: green;
    text-align: center;
    line-height: 100px;
}
.box2{
    width: 50%;
    background-color:skyblue;
    float: left;
    height: 200px;
color: white;
column-count: 2;

}

.box2 img{
    object-fit: scale-down;
    padding-left: 20px;
    padding-top: 20px;
}


.box2 p{
    padding-top: 30px;
    text-align: center;
    
}
.box3{
    width:100%;
    background-color: red;
    height: 500px;
}
.box3 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
}
.p1{
    margin-right: 270px;
    margin-left: 50px;
}
.p3{
    margin-left:280px ;
}