

body{
    background-image: url(pictures/b.png);
    background-repeat: no-repeat;

}
nav,a{
    color: white;
    background-color: black;
    
}
img{
    padding-left: 20px;
    margin-top: 20px;
    float: right;
}

h5{
    text-align: right;
    margin-top: 5%;
}
.F{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 2rem;
}
.d1 ,d2{
    float: left;
    width: 500px;
}
